@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
.myfont {
  font-weight: 350; 
  font-optical-sizing: auto;
  font-style: normal;
  font-family: "Plus Jakarta Sans", sans-serif;

}

.fontbold {
  font-weight: 700; 
  font-optical-sizing: auto;
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
}
/* FOR Scroll width  */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: #662249;
}
